.rulesContainer{
  margin-top: 10%;
  display:block;
  min-height: 200px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  outline: solid 1px black;
  background-color: white;
}

.removeButton{
  outline:none;
  position: relative;
  float:right;
  margin-right: 0.5%;
  margin-top: 0.5%;
  background-color: #ffcccb;
}
